**
!dist/
!dist/bin/
!dist/bin/certhub-server
!dist/bin/certhub-cli
!dist/bin/certhub-operator
!deploy/
!deploy/docker/
!deploy/docker/cli.Dockerfile
!deploy/docker/server.Dockerfile
!deploy/docker/operator.Dockerfile
